.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #bfd5e9;
  }
  
  .card-img {
    max-width: 100%;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .button-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .button-primary:hover {
    background-color: #0056b3;
  }