div.col-md-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card {
    border: 2px solid #ccc;
    border-radius: 10px ;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    text-align: center;
    background: linear-gradient(#310058, #7FD1FC);
    
  }
  div.card-body{
    display: flex;
    flex-direction: column;
    

  }
  
  .card-img {
    max-width: 100%;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;

  }
  
  .button-primary {
    background-color: #310058; 
    border: none;
    
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .button-primary:hover {
    background-color: #02468f;
  }